.control-parent{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    min-height: 40%;
    justify-content: center;
    align-items: center;
}

.control{
    display: flex;
    flex-direction: column;
    max-width: 60%;
}
.control label{
    margin-top: 10px;
}
.control input{
    padding:10px;
    border:none;
    margin-top: 10px;
    border-radius: 5px;
}